<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Syria Sources</title>

  <!-- CSS  -->
  <link href="assets/css/reset.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="ui sidebar inverted vertical menu">
Wondering where to start in trying to understand what's going on in Syria? How about here? A list of sources of different sorts, by a professor of research.
  <a href="/start" class="item">Some Places to Start</a>
  <a href="/books" class="item">Books</a>
  <a href="/films" class="item">Films</a>
  <a href="/articles" class="item">Articles by Topic</a>
  <a href="/reports" class="item">Reports</a>
  <a href="news" class="item">News &amp; Analysis</a>
  <a href="/solidarity" class="item">Solidarity Groups</a>
  <a href="/aid" class="item">Aid Projects</a>
  <a href="/authors" class="item">Authors &amp; Groups</a>
  <a href="/casualties" class="item">Casualty Count</a>
  <a href="/video" class="item">Video Clips</a>
  <a href="/untrusted" class="item">Sources I Don't Trust</a>
  <a href="/about" class="item">About</a>
  <a href="/contact" class="item">Contact</a>
</div>
<div class="pusher">
  {{{ body }}}
</div>
	

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="public/assets/js/pretty.js"></script>
</body>
</html>
